.formContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.mainTitle{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}