body{
    background-color: #13293D;
}
.loginContainer{
    color: white;
    background-color: #2A628F;
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    gap: 1rem;  
    align-items: center;
    padding-bottom: 20px;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 450px;
    width: 700px;
    margin-left: 370px;
}

.loginButton{
    box-shadow:  3px 2px 2px  hsl(12, 59%, 48%);
    background-color: hsl(0, 66%, 69%);
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.loginButton:hover{
    background-color: hsl(0, 50%, 55%);
    cursor: pointer;
    box-shadow: none;
}

input:focus{
    outline: none;
}

.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;

}
label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.signUpText{
    font-size: 15px;
}
div>a{
    text-decoration: none;
    color: #CD5334;
}
input{
    height: 20px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    border: none;
}